- @crowds.each do |c|
  %tr
    %td
      =link_to c.name, admin_crowd_path(c)
    %td
      =link_to c.subject, admin_subject_path(c.subject)
    %td
      - if c.professor.present?
        =link_to c.professor, admin_professor_path(c.professor)
    %td
      =link_to content_tag(:i, '', class: 'icon-pencil'), edit_admin_crowd_path(c)
      =link_to content_tag(:i, '', class: 'icon-remove'), admin_crowd_path(c), method: :delete, confirm: 'Tem Certeza?'
