.header.block
  %h1 Editar Turma
.block
  = simple_form_for [:admin, @crowd], html: { class: 'form-horizontal' } do |f|
    = render partial: 'form', locals: { f:f }
    .form-actions
      = f.submit class: 'btn btn-primary'
