%form
  = text_field_tag :student_name
  = submit_tag
%table.table.table-stripped.table-bordered.table-condensed
  %thead
    %tr
      %th
        = Student.human_attribute_name :name
      %th
        Ações
  %tbody
