.block
  %a{'data-route' => 'routes.conversations'}
    %p
      Todas as Mensagens
.block
  %ul#messages
    %li{'data-foreach-message' => 'conversation.messages'}
      %p{'data-bind' => 'message.user.username | append ": " | append message.body '}
.block
  %form{'data-formfor-message' => 'newMessage', 'data-event-submit' => "createMessage"}
    %input{'data-bind' => 'newMessage.body'}
    %input{'type' => 'submit'}

