<div class='block header'>
  <h1> Ãrea de trabalho </h1>
</div>

<div class='block'>
  <h2><%= Crowd.model_name.human(count: :many) %></h2>
  <ul>
    <li>
      <a {{action listCrowds }}>Todas as Turmas</a>
    </li>
  </ul>
</div>

