.block.header
  .title
    %h1 Importar Turmas
  %br.clear

.block
  Selecione o arquivo:
  = form_tag admin_imports_path, method: :post, multipart: true, class: 'form-inline' do
    = hidden_field_tag 'resource', "crowds"
    = file_field_tag :csv_file
    = submit_tag "Importar"
