.well.span10
  %h2 Editar seus dados
  = simple_form_for @user, url: users_path, method: :put do |f|
    = render partial: 'form', locals: { f: f }
    .form-actions
      = f.submit input_html: { class: 'btn' }
