.header.block
  %h1
    Novo Grupo para #{@crowd.name}
.block
  = simple_form_for @group, url: professor_crowd_groups_path(@crowd), html: { class: 'form-horizontal' } do |f|
    = render :partial => 'form', locals: { f:f }
    .form-actions
      = f.submit class: 'btn btn-primary'
