%td
  = link_to "<%= @name %>".html_safe, "#/<%= @id %>".html_safe
%td
  <%= @semester %>
%td
  <%= @year %>
%td
  <%= @professor_id %>
%td
  <%= @subject_id %>
%td
  = link_to 'Editar', "#/<%= @id %>/edit".html_safe
  = link_to 'Remover', "#/<%= @id %>/destroy".html_safe
