<h1>Listing crowds</h1>

<table id="crowds-table">
  <tr>
    <th>Name</th>
    <th>Semester</th>
    <th>Year</th>
    <th>Professor</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Crowd</a>
