.block.header
  %h1
    Novo Professor
.block
  = simple_form_for [:admin, @professor], html:{ class: 'form-horizontal' } do |f|
    = render partial: 'form', locals: { f:f }
    .form-actions
      = f.submit html_input: { class: 'btn' }
