.header.block
  %h1= @professor.name
.block
  %h2= @professor.crowds.model_name.human(:count => @professor.crowds.size)
  - @professor.crowds.each do |crowd|
    %p= crowd.name
.block
  %h2= @professor.subjects.model_name.human(:count => @professor.subjects.size)
  - @professor.subjects.each do |subject|
    %p=subject.name
